.buttonWrapper {
    display: flex;
    flex-direction: column;
}

.form {
  margin-top: 13px;
}

.inputWrapper {
  position: relative;
  display: flex;
  margin-bottom: 33px;
}

.last {
  margin-bottom: 20px !important;
}

.inputWrapper label {
  position: absolute;
  left: 40px;
  top: 0;
  padding: 5px;
  z-index: 1;
  background-color: var(--colors-base-high-light);
  border-radius: 100px;
  margin-bottom: 20px;
  transform: translateY(-50%);
  color: var(--colors-components-on-bg);
}

.inputWrapper label {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
}

.inputWrapper input {
  border-radius: 100px;
  width: calc(100% - 40px);
  height: 52px;
  margin: auto;
  text-indent: 20px;
  color: var(--colors-components-on-bg);
  font-size: 16px;
}

.notificationWrapper {
  padding: 0 20px 0 20px;
  height: 40px;
  display: flex;
  align-items: center;
}

.notificationWrapper:last-of-type {
  padding-bottom: 20px;
}

.notificationWrapper input {
  margin: 0;
  margin-right: 10px;
  accent-color: var(--colors-components-on-bg);
}

.editButton {
  background-color: var(--colors-base-high-light);
}

.backButton {
  background-color: var(--colors-base-semantic_error_dl);
  color: #F9F3E8FF;
}

.backButtonWrapper {
  display: flex;
}

.notifInfo {
  padding: 0 20px 20px 20px;
}

.notifInfo h2, .notifInfo p {
  padding: 0;
}

.notifInfo h2 {
  padding-bottom: 10px;
}

.profilesWrapper {
  padding: 20px;
  gap: 20px;
}

.profileWrapper {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.profileWrapper img {
  width: 31px;
  height: 31px;
}

.profileWrapper div {
  width: 31px;
  height: 31px;
  margin-right: 20px;
  padding-left: 10px;
}

.hr:not(:last-of-type) {
  margin-bottom: 20px;
}

.backButtonWrapper a {
  width: 100%;
  display: flex;
}