.footer{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: var(--colors-base-brand);
}

.ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}