.footer {
    bottom: 0;
}

.ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
}

.footer li {
    height: 40px;
    width: 40px;
}