.costWrapper {
    background-color: var(--colors-components-box-bg);
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.costWrapper div:first-of-type p {
    font-weight: 600;
}

.costWrapper div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.costWrapper div:first-of-type {
    padding-bottom: 4px;
}

.subsWrapper {
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    margin: 0;
    padding: 20px;
    gap: 20px;
}

.logoWrapper {
    width: 30px;
    height: 30px;
    margin-bottom: 8px;
}

.logoWrapper img {
    height: auto;
    width: auto;
    max-height: 30px;
}

.subWrapper {
    padding: 12px 16px;
    background-color: var(--colors-base-high-light);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.subsWrapper li p:first-of-type {
    padding-bottom: 20px;
}

.wrapperStatus {
    background-color: var(--colors-base-semantic_error);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.subsWrapper div:last-of-type p {
    padding: 12px 16px;
    color: var(--colors-base-high-light);
    font-size: 14px;
    letter-spacing: 0.14px;
}

.subsWrapper li div:first-of-type p {
    font-weight: 600;
    white-space: nowrap;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 0 20px;
    background-color: #FFC350;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 67px;
    padding: 8px 16px;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.arrow {
    cursor: pointer;
}

.dropdownButton {
    background-color: white;
    border-radius: 100px;
    padding: 16px 20px;
    height: 43px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 240px;
    cursor: pointer;
}

.dropdownButton p {
    line-height: 16px;
    color: #898989;
}

.subsDropdown {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 20px 0 20px;
    padding: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.subDropdown {
    display: flex;
    flex-direction: row;
    height: 56px;
    padding: 8px 16px;
    align-items: center;
}

.subDropdown div {
    height: 30px;
    width: 30px;
    display: flex;
    margin-right: 8px;
}

.subDropdown img {
    height: auto;
    margin: auto;
    width: auto;
    max-height: 30px;
}

.hr {
    background-color: #FFC350;
    height: 1px;
}

.subsDropdown li:last-of-type .hr {
    display: none;
}