:root {
    --colors-base-brand: #FFC350FF;
    --colors-base-high-light: #FFFFFFFF;
    --colors-base-primary: #F9F3E8FF;
    --colors-base-secondary: #1F1F1FFF;
    --colors-base-semantic_error: #BF3C54FF;
    --colors-base-semantic_error_dl: #BF3C54FF;
    --colors-base-semantic_error_hover: #B63950FF;
    --colors-base-semantic_info: #44BFC7FF;
    --colors-base-semantic_success: #74B96EFF;
    --colors-base-semantic_warning: #FF6847FF;
    --colors-components-bg: var(--colors-base-primary);
    --colors-components-bg_brand: #FFC350FF;
    --colors-components-box-bg: var(--colors-base-brand);
    --colors-components-button-bg: var(--colors-base-secondary);
    --colors-components-button-bg_reversed: #F2F2F2FF;
    --colors-components-card-bg: var(--colors-base-high-light);
    --colors-components-card_brand-button: var(--colors-base-brand);
    --colors-components-field-bg: var(--colors-base-primary);
    --colors-components-on-bg: var(--colors-base-secondary);
    --colors-components-on-bg_brand: #1F1F1FFF;
    --colors-components-on-box: var(--colors-base-secondary);
    --colors-components-on-button: var(--colors-base-primary);
    --colors-components-on-button_reversed: #1F1F1FFF;
    --colors-components-primary_light-dark: #F2F2F2FF;
    --colors-components-stroke: var(--colors-base-secondary);
    --colors-components-text-on-field: var(--colors-neutrals-50);
    --colors-neutrals-10: #E7E7E7FF;
    --colors-neutrals-100: #1F1F1FFF;
    --colors-neutrals-20: #D0D0D0FF;
    --colors-neutrals-40: #A1A1A1FF;
    --colors-neutrals-5: #F3F3F3FF;
    --colors-neutrals-50: #898989FF;
    --colors-neutrals-60: #717171FF;
    --colors-neutrals-80: #424242FF;
    --measures-height-box: 40px;
    --measures-height-button_l: 60px;
    --measures-height-button_m: 52px;
    --measures-padding-large: 40px;
    --measures-padding-medium: 20px;
    --measures-padding-small: 8px;
    --measures-radius-round_20: 20px;
    --measures-radius-round_50: 50px;
    --measures-width-box_max: 439px;
    --measures-width-box_min: 320px;
    --measures-width-mobile_max: 479px;
    --measures-width-mobile_min: 360px;
    --text-color-test: black;
    --main-bg-test: white;
    --bg-color-body-test: lightgray;
}

/* Dark mode */
[data-theme="dark"] {
    --text-color-test: white;
    --main-bg-test: black;
}

p {
    color: var(--text-color-test);
    margin: 0;
    padding: 0;
}

.altLogoWrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.greeting-section {
    background-color: var(--colors-base-brand);
}

h1 {
    margin: 0;
    color: var(--colors-components-on-bg);
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.28px;
    padding: 20px;
}

@import url("https://p.typekit.net/p.css?s=1&k=rie0uwt&ht=tk&f=52025.52026&a=130402303&app=typekit&e=css");

@font-face {
font-family:"elza-round-variable";
src:url("https://use.typekit.net/af/8923d8/0000000000000000774bf5a3/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/8923d8/0000000000000000774bf5a3/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/8923d8/0000000000000000774bf5a3/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"elza-round-variable";
src:url("https://use.typekit.net/af/cecc41/0000000000000000774bf5a4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/cecc41/0000000000000000774bf5a4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/cecc41/0000000000000000774bf5a4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

.elza { font-family: "elza-round-variable",sans-serif; }

* {
    box-sizing: border-box;
}

body {
    /* font-family: "elza-round-variable", sans-serif; */
    background-color: var(--bg-color-body-test);
    color: var(--color-white);
    margin: 0;
    padding: 0;
}

li::marker {
    content: none;
}

footer li {
    height: 40px;
    width: 40px;
}

/*
Form
*/
form {
    margin-top: 33px;
}

.input-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 20px;
}

.input-wrapper:first-of-type {
    margin-bottom: 33px;
}

.input-wrapper label {
    position: absolute;
    left: 40px;
    top: 0;
    padding: 5px;
    z-index: 1;
    background-color: #fff;
    border-radius: 100px;
    margin-bottom: 0;
    transform: translateY(-50%)
}

.input-wrapper label {
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
}

.input-wrapper input {
    border-radius: 100px;
    border: 1px solid black;
    width: calc(100% - 40px);
    height: 52px;
    margin: auto;
    text-indent: 20px;
    color: var(--colors-components-text-on-field);
    font-size: 16px;
}
/*
Form end
*/

main {
    color: #1F1F1F;
    background-color: var(--colors-base-primary);
}

.main-long {
    height: calc(100% - 106px);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.dark {
    background-color: var(--colors-components-field-bg);
}

@media only screen and (min-width: 446px) {
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;    
    }

    .mobile-frame {
        background-color: #D9D9D9;
        width: 446px;
        height: 667px;
        margin: auto;
        position: relative;
        border-radius: 15px;
    }

    header {
        position: absolute;
        top: 0;
        display: flex;
        left: 0;
        width: 100%;
        background-color: var(--colors-base-brand);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        justify-content: space-between;
        align-items: flex-end;
        padding: 40px 20px 20px 20px;
    }

    nav {
        height: 100%;
        width: 100%;
        display: flex;
    }

    li a {
        display: inline;
    }

    main {
        height: calc(100% - 166px);
        overflow: scroll;
        position: absolute;
        top: 106px;
        left: 0;
        width: 100%;
        -ms-overflow-style: none;  /* Hide scrollbar (Explorer, Edge) */
        scrollbar-width: none;  /* Hide scrollbar (Firefox) */
    }

    footer {
        height: var(--measures-height-button-l, 60px);
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--colors-base-brand);
        width: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    hr {
        border: none;
        height: 0.5px;
        background-color: white;
        width: 100%;
        margin: 0;
    }

    /* Hide scrollbar (Chrome, Safari, Opera) */
    main::-webkit-scrollbar {
        display: none;
    }
}

.button-wrapper {
    display: flex;
    flex-direction: column;
}

button {
    width: calc(100% - 40px);
    margin: auto;
    border-radius: 100px;
    border: 1px solid black;
    height: 52px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.greeting-paragraph p {
    margin: auto;
    width: calc(100% - 40px);
    line-height: 20px;
    font-weight: 300;
    letter-spacing: -0.16px;
    padding-bottom: 20px;
}    

.greeting-paragraph span {
    font-weight: bold;
}

a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
    font-weight: 700;
}