@import url("https://p.typekit.net/p.css?s=1&k=rie0uwt&ht=tk&f=52025.52026&a=130402303&app=typekit&e=css");

@font-face {
font-family:"elza-round-variable";
src:url("https://use.typekit.net/af/8923d8/0000000000000000774bf5a3/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/8923d8/0000000000000000774bf5a3/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/8923d8/0000000000000000774bf5a3/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"elza-round-variable";
src:url("https://use.typekit.net/af/cecc41/0000000000000000774bf5a4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/cecc41/0000000000000000774bf5a4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/cecc41/0000000000000000774bf5a4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

:root {
    --colors-base-brand: #FFC350FF;
    --colors-base-high-light: #FFFFFFFF;
    --colors-base-primary: #F9F3E8FF;
    --colors-base-secondary: #1F1F1FFF;
    --colors-base-semantic_error: #BF3C54FF;
    --colors-base-semantic_error_dl: #BF3C54FF;
    --colors-base-semantic_error_hover: #B63950FF;
    --colors-base-semantic_info: #44BFC7FF;
    --colors-base-semantic_success: #74B96EFF;
    --colors-base-semantic_warning: #FF6847FF;
    --colors-components-bg: var(--colors-base-primary);
    --colors-components-bg_brand: #FFC350FF;
    --colors-components-orange-black: #1F1F1FFF;
    --colors-components-orange-black-reversed: #FFC350FF;
    --colors-components-box-bg: var(--colors-base-brand);
    --colors-components-button-bg: #1F1F1FFF;
    --colors-components-button-bg_reversed: #F2F2F2FF;
    --colors-components-card-bg: var(--colors-base-high-light);
    --colors-components-card_brand-button: var(--colors-base-brand);
    --colors-components-field-bg: var(--colors-base-primary);
    --colors-components-on-bg: var(--colors-base-secondary);
    --colors-components-on-bg_brand: #1F1F1FFF;
    --colors-components-on-box: var(--colors-base-secondary);
    --colors-components-on-button: #F9F3E8FF;
    --colors-components-on-button_reversed: #1F1F1FFF;
    --colors-components-primary_light-dark: #F2F2F2FF;
    --colors-components-stroke: var(--colors-base-secondary);
    --colors-components-text-on-field: var(--colors-neutrals-50);
    --colors-neutrals-10: #E7E7E7FF;
    --colors-neutrals-100: #1F1F1FFF;
    --colors-neutrals-20: #D0D0D0FF;
    --colors-neutrals-40: #A1A1A1FF;
    --colors-neutrals-5: #F3F3F3FF;
    --colors-neutrals-50: #898989FF;
    --colors-neutrals-60: #717171FF;
    --colors-neutrals-80: #424242FF;
    --measures-height-box: 40px;
    --measures-height-button_l: 60px;
    --measures-height-button_m: 52px;
    --measures-padding-large: 40px;
    --measures-padding-medium: 20px;
    --measures-padding-small: 8px;
    --measures-radius-round_20: 20px;
    --measures-radius-round_50: 50px;
    --measures-width-box_max: 439px;
    --measures-width-box_min: 320px;
    --measures-width-mobile_max: 479px;
    --measures-width-mobile_min: 360px;
    --bg-color-body: lightgray;
    --outline: black;
}

/* Dark mode */
[data-theme="dark"] {
    --colors-components-orange-black: #FFC350FF;
    --colors-components-orange-black-reversed: #1F1F1FFF;
    --colors-components-on-bg: #F9F3E8FF;
    --colors-base-primary: var(--colors-base-secondary);
    --colors-base-high-light: #1F1F1FFF;
    --outline: white;
    --colors-components-stroke: #F9F3E8FF;
    --colors-components-button-bg_reversed: #1F1F1FFF;
    --colors-components-on-button_reversed: #F9F3E8FF;
}

* {
    box-sizing: border-box;
}

.elza { font-family: "elza-round-variable",sans-serif; }

body {
    /* font-family: "elza-round-variable", sans-serif; */
    background-color: var(--colors-base-brand);
    color: var(--color-white);
    margin: 0;
    padding: 0;
}


h1 {
    margin: 0;
    color: var(--colors-components-on-bg);
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.28px;
    padding: 20px;
}

h2 {
    color: var(--colors-components-on-bg);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 100% */
    padding: 20px;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
    color: var(--colors-components-on-bg);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

li::marker {
    content: none;
}

main {
    background-color: var(--colors-base-primary);
    overflow: scroll;
    position: absolute;
    height: calc(100% - 166px);
    top: 106px;
    left: 0;
    width: 100%;
    -ms-overflow-style: none;  /* Hide scrollbar (Explorer, Edge) */
    scrollbar-width: none;  /* Hide scrollbar (Firefox) */
}

 /* Hide scrollbar (Chrome, Safari, Opera) */
 main::-webkit-scrollbar {
    display: none;
}

.main-long {
    height: calc(100% - 106px);
}

button {
    width: calc(100% - 40px);
    margin: auto;
    border-radius: 100px;
    border: 1px solid black;
    height: 52px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    background-color: var(--colors-components-button-bg_reversed);
    color: var(--colors-components-on-button_reversed);
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.15);
    padding: 0;
    border: 1px solid var(--colors-components-stroke);
}

button:hover {
    cursor: pointer;
}

a:link, a:visited, a:hover, a:active {
    color: var(--colors-components-on-bg);
    text-decoration: none;
    font-weight: bold;
}

::placeholder {
    color: var(--colors-components-text-on-field);
    opacity: 1; /* Firefox */
}
  
::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--colors-components-text-on-field);
}

input {
    background-color: var(--colors-base-high-light);
    border: 1px solid var(--colors-components-stroke);
}

input:focus {
    outline: var(--outline);
    caret-color: var(--colors-components-on-bg);
}

.mobile-frame {
    width: 100vw;
    height: 100vh;
    margin: auto;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    left: 0;
    width: 100%;
    background-color: var(--colors-base-brand);
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 20px 20px 20px;
}

footer {
    position: fixed;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
}

li a {
    display: inline;
}

footer {
    height: var(--measures-height-button-l, 60px);
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--colors-base-brand);
    width: 100%;
}

hr {
    border: none;
    height: 2px;
    background-color: var(--colors-components-on-bg);
    width: 100%;
    margin: 0;
}

@media only screen and (min-width: 480px) {
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;    
        background-color: var(--bg-color-body);
    }

    .mobile-frame {
        background-color: #D9D9D9;
        border-radius: 15px;
        width: 446px;
        height: 667px;
    }

    header {
        position: absolute;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .main-long {
        height: calc(100% - 106px);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    footer {
        position: absolute;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

