.altLogoWrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.greetingSection {
  background-color: var(--colors-components-orange-black-reversed);
}

.greetingSection h1 {
  color: var(--colors-components-orange-black);
}
.greetingSection svg path {
  fill: var(--colors-components-orange-black);
}

.greetingParagraph p {
  margin: auto;
  width: calc(100% - 40px);
  font-weight: 300;
  letter-spacing: -0.16px;
  padding-bottom: 20px;
}    

.greetingParagraph span {
  font-weight: bold;
}