.display {
    display: block;
}

.hide {
    display: none;
}

.menuItemHeading {
    display: flex;
    justify-content: space-between;
}

.menuWrapper {
    display: flex;
    flex-direction: column;
}

.menuItem:last-child {
    order: 100;
}

.cross {
    /* */
}

.orderTop {
    order: -1;
}
