.h1BigTop {
    padding-top: 40px;
}

.display {
    display: block;
}

.hide {
    display: none;
}

.menuWrapper {
    display: flex;
    flex-direction: column;
    /* width: calc(100% - 40px); */
    margin: auto;
}

.menuItem:last-child {
    order: 100;
}

.cross {
    position: absolute;
    top: 0;
    right: 0;
}

.orderTop {
    order: -1;
}

.menuItem h2 {
    padding-bottom: 30px;
    padding-top: 0;
    color: #806128;
}

.menuWrapper article:first-of-type h2 {
    padding-top: 10px;
}

.menuWrapper article:last-of-type h2 {
    padding-bottom: 20px;
}