.display {
    display: block;
}

.hide {
    display: none;
}

.menuItemHeading {
    display: flex;
    justify-content: space-between;
}

.menuWrapper {
    display: flex;
    flex-direction: column;
}

.cross {
    /* */
}